<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'static/style.css' %}"> <!-- Link to your CSS file -->
    <title>Login | CTFzone</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Login</h2>
        <form method="POST" class="form-signin">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <h3 class="text-center">Or</h3>
        <div class="text-center">
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block">Sign in with Google</a>
        </div>

        <div class="text-center mt-3">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



